body {
    padding: 0px;
    margin: 0px;
    background-image: url(images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    color: #FFFFFF;
}

#kopf {
    top: 0px;
    width: 100%;
    height: 100px;
    background-size: 100% auto;
    background-image: url(images/banner.jpg);
    position:fixed;
}
#fuss {
    height: 50px;
    margin: 0px;
    width: 100%;
    background-size: 100% auto;
    background-image: url(images/banner.jpg);
    position:fixed;
    bottom: 0px;
}
#mitte {
    position: relative;
    width: 100%;
}
#inhalt {
    margin: 110px 180px;
    background-size: 100% auto;
    background-image: url(images/backgroundimage.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
    
#links {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 160px;
    height: 300px;
    background-color: #fc0;
}
#rechts {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 160px;
    height: 300px;
    background-color: #fc0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a.menu:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

<!-- Buttons werden Dunkelblau, wenn man mit dem Maus drübergeht -->

a.menu:hover, a.menu:active {
    background-color: #291984;
}

